/* Reset CSS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    text-align:center;
    letter-spacing: 3px;
    margin-bottom: 100px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.main {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.grafik-wrap {
    float: left;
    width: 50%;
    text-align: center;
}